---
layout: base.njk
title: The Balloon Bunch Retelling
tags: project
bodyClass: glow-purple
excerpt: I retold the story of the balloon bunch in stop motion and it is not great
---

# The re-telling of the balloon bunch

<h1>In this film the green screen is teriable and the acting is bad<h1>




<div class="video-embed">
  <iframe
    src="https://player.vimeo.com/video/1151723025?badge=0&autopause=0&player_id=0&app_id=58479"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    title="balloon-bunch"
  ></iframe>
</div>

<p>
Made by: Bennett,

Music by: Chris Zabriskie,

Staring: Fake Bennett
</p>